.u1{
  height:450px;
  width:320px;
  margin: 10px;


  border-radius: 6px 6px 6px 6px;

}
.o1{
  border-style: solid;
  border-color: white white Chartreuse white;

}
.o2{
  border-style: solid;
  border-color: white white Aqua white;

}
.o3{
  border-style: solid;
  border-color: white white  DeepPink  white;

}
.o4{
  border-style: solid;
  border-color: white white Red white;

}
.o5{
  border-style: solid;
  border-color: white white Yellow white;

}
.o6{
  border-style: solid;
  border-color: white white DodgerBlue white;

}
.i1{
  height:200px;
  width:270px;
  margin-top: 10px;
  border-radius: 6px 6px 0px 0px;


  /* border: 1px solid black */
}
.k1{
  height:230px;
  width: 320px;
  margin-bottom :10px;
  background-color: white;
  border-radius: 0px 0px 6px 6px;

}
.v1{
  /* background-color: yellow; */
  font-size: 30px;
  opacity: 0.77
}
.l1{
  font-size: 12px;

  /* background-color: yellow; */

}
.l2{
  width: 275px;
  font-size: 12px;
 
  /* background-color: yellow; */
}
.p1{

  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.p2{
  width:60px;
  margin-left: 110px;
}
