.u1{
  height:450px;
  width:360px;
  margin: 10px;


  border-radius: 6px 6px 6px 6px;

}
.o1{
  border-bottom-style: solid;
  border-bottom-color: Chartreuse

}
.o2{
  border-bottom-style: solid;
  border-bottom-color:  Aqua;

}
.o3{
  border-bottom-style: solid;
  border-bottom-color:   DeepPink;

}
.o4{
 border-bottom-style: solid;
 border-bottom-color:  Orange;
}
.o5{

  border-bottom-style: solid;
  border-bottom-color:   Red;


}
.o6{
  border-bottom-style: solid;
  border-bottom-color:  DodgerBlue;

}
.i1{
  height:200px;
  width:320px;
  margin-top: 10px;


  /* border: 1px solid black */
}
.k1{
  height:230px;
  width: 320px;
  margin-bottom :10px;
  background-color: white;
  border-radius: 0px 0px 6px 6px;

}
.v1{
  /* background-color: yellow; */
  font-size: 30px;

  font-family: 'Poiret One', cursive;
}
.l1{
  font-size: 12px;

  /* background-color: yellow; */

}
.l2{

  font-size: 12px;

  /* background-color: yellow; */
}
.p1{

  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.p2{
  width:60px;
  margin-left: 110px;
}
.n1{
  width:278px;

}
.r11{
  margin-top: 20px;
  font-size: 13px;
}
.r100{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: Chartreuse;
  font-weight: bold;
}
.r101{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: Aqua;
    font-weight: bold;
}
.r102{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: DeepPink;
    font-weight: bold;
}
.r103{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: Orange;
    font-weight: bold;
}
.r104{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color:  Red;
    font-weight: bold;
}
.r105{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: DodgerBlue;
    font-weight: bold;
}
.r106{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: Chartreuse;
    font-weight: bold;
}
.r107{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: Aqua;
    font-weight: bold;
}
.r108{
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: DeepPink;
    font-weight: bold;
}
