.h1{
  height:200px;
  width:200px;
  margin-left: 80px;
  margin-right: 220px;
  background-color:

}
.h2{
  margin-top: 50px;
  height:330px;




}
.h3{
  height:240px;
  border-radius: 200px;
  width:240px;
  margin-left: 70px;
  margin-bottom:120px;
  margin-top: 55px;


}
.h4{
  width: 800px;
}
.h5{

  margin-bottom: 15px;
   height: 16px;

  margin-left:8px;
}
.h6{
  width:90px;
  height:16px;
  background-color: #BDBDBD;
  color: black ;
  border-radius: 32px 0px 0px 32px;
}
.h7{
  margin-top: 20px;

}
.h8{
   height:800px;
   width: 400px;


}
.h9{
  margin-top: 0px;

}
.h10{
  padding-top: 20px;
  margin-top: 80px;
  margin-bottom: 30px;
  height:210px;

/*   border : 3px solid lightgreen; */
  margin-left: 50px;
  margin-right: 50px;

}
.h11{
  height:20px;
}
.h12{
  font-size: 20px;
  color: black;
font-family: 'Cinzel', serif;
font-weight: bold;


}
.h13{
  font-family: 'Quicksand', sans-serif;
}
.h14{
  color:grey;
}
