.h1{
  height:200px;
  width:200px;
  margin-left: 80px;
  margin-right: 220px;

}
.h2{
  height:320px;


}
.h3{
  height:200px;
  border-radius: 200px;

}
.h4{
  width: 800px;
}
.h5{

  margin-bottom: 15px;
   height: 20px;

  margin-left:10px;
}
.h6{
  width:80px;
  height:20px;
  background-color: white
}
.h7{
  margin-top: 20px;

}
.h8{
   
}
