.a1{
  color: white;
  /* color:#E31B6D; */
}
.a2{

    overflow: auto;
  /* position: absolute;
  top: 0;
  bottom: 0; */
  font-family: 'Quicksand', sans-serif;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media (max-width: 759px) {
  .a222{
  font-size: 30px;
  margin: 0px;
  }

}

.jumbotron{
  padding-top: 60px;
  margin-bottom: 10px;
  background-color: #130f40;
  border-radius:0px;
}
.a3{
  background-color:rgb(0, 115, 177);
  margin-bottom: 30px;

}
.btn{
      /* user-select: none; */
}
.btn-outline-primary {
    color: #007bff;
      border-color: rgba(0,123,255,.25);
}
