.a1{
  color:#c31432;
}
.a2{
  height: 400px;
  font-family: 'Quicksand', sans-serif;
}
.a222{
  color:white;
}
.jumbotron{
  margin-bottom: 10px;
  background-color: #130f40;
  border-radius:0px;
}
.a3{
  background-color: white;
  margin-bottom: 30px;
}
